{
  "extends": "airbnb/base",
  "env": {
    "browser": true
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "after": false
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "max-len": [
      "error",
      120
    ],
    "class-methods-use-this": "warn",
    "function-paren-newline": "off"
  }
}